.footer-container {
    background-color: #5baff3;
    padding: 2rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    
    align-items: center;
  }
@media screen and (max-width: 768px) {
}  